/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0; 
}

body{
    font-family: 'Poppins',sans-serif;
    background-color: #0a0a0a;
    overflow-x: hidden;
}