<!--BANNER END-->

<div class="contain p-4">

    <!-- trending movies  -->
    <div class="row ">
      <h5 class="text-white">Adventure Movies</h5>
      <div class="rowposter  p-2">
        <ng-container *ngFor="let t of trendingMovie">
          <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}" class="rowimg largeposter" alt="..."
            [routerLink]="['/movie',t.id]">
        </ng-container>
      </div>
    </div>
  
  
  
    <div class="contain1">
  
      <!-- trending movies  Action-->
      <div class="row">
        <h5 class="text-white">Action Movies</h5>
        <div class="rowposter1">
          <ng-container *ngFor="let t of listMovieAction">
            <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}" class="rowimg1 largeposter1" alt="..."
              [routerLink]="['/movie',t.id]">
          </ng-container>
        </div>
      </div>
  
  
  
     